<?xml version="1.0"?>
<launch>
    <arg name="sensor"/>
    <arg name="sensor_topics"/>

    <arg name="scale"  default="1.0"/>
    
    <node name="traditional_stereo" pkg="traditional_stereo_ros" type="traditional_stereo" output="screen" ns="$(arg sensor)">
        <!-- Sensor Topics -->
        <param name ="sensor"        value="$(arg sensor)"/>
        <rosparam file="$(arg sensor_topics)" command="load"/>

        <param name ="scale"        value="$(arg scale)"/>
    </node>
</launch>
